* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-size: 1em;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    background: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#content-wrapper {
    background-color: hsl(216, 50%, 16%);
    width: 90%;
    border-radius: 15px;
    margin: 20px 0;
}

#img {
    margin: 25px;
    position: relative;
}

#img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
    
#information {
    margin-left: 25px;
}

#title {
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.4em;
}

#title a {
    text-decoration: none;
    color: white;
}

#title a:hover {
    color:hsl(178, 100%, 50%);
}

#description {
    line-height: 1.5em;
    margin-bottom: 20px;
    font-weight: 300;
}

#currency-timing-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

#currency {
    color: hsl(178, 100%, 50%);
}

#ethereum-icon {
    padding: 0 5px 0 0;
}

#clock-icon {
    padding: 0 5px 0 90px;
}

#timing {
    font-weight: 300;
}

hr {
    border: 1px solid hsl(215, 32%, 27%);
    width: 88%;
    margin: 15px auto;
}

#user {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

#user-img {
    padding: 5px 15px 0 25px;
}

#user-img img {
    border-radius: 50%;
    border: 1px solid white;
    height: 30px;
    width: 30px;
}

#user-name a {
    text-decoration: none;
    color: white;
}

#user-name a:hover {
    color:hsl(178, 100%, 50%);
}

#user-name span {
    color: white;
}

.attribution {
    margin: 10px 0;
}