* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --card-divider: hsl(215, 32%, 27%);
    --base-text: hsl(215, 51%, 70%);
    --link-text: hsl(0, 0%, 100%);
    --link-hover: hsl(178, 100%, 50%);
}

body {
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    background: var(--main-bg);
    color: var(--base-text);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__container {
    background-color: var(--card-bg);
    border-radius: 15px;
    margin: 20px 0;
    width: 90%;
    max-width: 380px;
}

.card__img-container,
.card__info-container {
    width: 85%;
}

.card__img-container {
    margin: 25px auto;
    position: relative;
    height: auto;
}

.card__img img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.card__img-overlay img {
    width: 45px;
    height: 45px;
}

.card__img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(178, 100%, 50%, 0.5);
    opacity: 0;
}

.card__img-overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.card__info-container {
    margin: 0 auto;
}

.card__info-title {
    color: var(--link-text);
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.4rem;
}

.card__info-title a {
    text-decoration: none;
    color: var(--link-text);
}

.card__info-title a:hover {
    color: var(--link-hover);
}

.card__info-description {
    line-height: 1.5rem;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 1rem;
}

.card__currency-container,
.currency-container,
.timing-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.card__currency-container {
    justify-content: space-between;
}

.currency-container p {
    color: var(--link-hover);
}

.timing-container p {
    font-weight: 300;
}

.currency-container img,
.timing-container img {
    margin-right: .5rem;
}

hr {
    border: 1px solid var(--card-divider);
    width: 88%;
    margin: 15px auto;
}

.card__user-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.card__user-img {
    padding: 5px 15px 0 25px;
}

.card__user-img img {
    border-radius: 50%;
    border: 1px solid var(--link-text);
    height: 30px;
    width: 30px;
}

.card__user-name a {
    text-decoration: none;
    color: var(--link-text);
}

.card__user-name a:hover {
    color: var(--link-hover);
}

.card__user-name span {
    color: var(--link-text);
}

.attribution {
    margin: 10px 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--link-text);
}

.attribution a:hover {
    color: var(--link-hover);
}

@media screen and (min-width: 1440px) {
    .card__container {
        margin: 100px 0;
    }
}